
  .news-container {
    display: grid;
    background-color: yellowgreen;
    grid-template-columns: 1.25em 1.25em 1.25em;
    grid-template-rows: 1.25em 1.25em 1.25em;
    gap: 0;
    width: 3.75em;
    height: 3.75em;
    position: relative;
    font-size: 16px;
  }
  .news-container label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .news-container input[type="radio"] {
    margin: 0;
    width: 0.9375em;
    height: 0.9375em;
  }
  .news-container .letter {
    font-weight: bold;
    font-size: 0.875em;
    transition: opacity 0.3s ease, color 0.3s ease, border 0.3s ease;
    color: black; /* Default color */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
  }
  /* Color the letter blue and add a border when its radio button is checked */
  .news-container input[type="radio"]:checked + .letter {
    color: blue;
    border: 1px solid blue;
    border-radius: 50%;
  }
  .news-container:not(.no-button) .letter {
    position: absolute;
  }
  .news-container:not(.no-button) #north-letter {
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  .news-container:not(.no-button) #east-letter {
    right: -1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
  .news-container:not(.no-button) #west-letter {
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
  .news-container:not(.no-button) #south-letter {
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  .news-container:not(.no-button) #inside-letter {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .no-label .letter {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .no-button input[type="radio"] {
    display: none;
  }
  .flag {
    height: 100px;
    display: inline-block;
  }
  .black {
    background-color: #000;
    height: 33.33%;
  }
  .red {
    background-color: #FF0000;
    height: 33.33%;
  }
  .gold {
    background-color: #FFD700;
    height: 33.33%;
    width: 10px;
  }